body{
    background-color: beige;
}

H1{
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: royalblue;
}

p{
    color: red;
    font-style: oblique;
    font-weight: bold;
}